* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

.offcanvas {
    background-color: black;
}

.offcanvas-title {
    color: white;
}
.navbar-toggler{
    color: white;
}

